<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>BoGo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>JoinCom</servlet-name>
    <servlet-class>user.JoinAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>JoinCom</servlet-name>
    <url-pattern>/JoinCom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginCom</servlet-name>
    <servlet-class>user.LoginAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginCom</servlet-name>
    <url-pattern>/LoginCom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutCom</servlet-name>
    <servlet-class>user.LogoutAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LogoutCom</servlet-name>
    <url-pattern>/LogoutCom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteCom</servlet-name>
    <servlet-class>user.DeleteAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteCom</servlet-name>
    <url-pattern>/DeleteCom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdatePwCheck</servlet-name>
    <servlet-class>user.UpdatePwCheckAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdatePwCheck</servlet-name>
    <url-pattern>/UpdatePwCheck</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InfoUpdateCom</servlet-name>
    <servlet-class>user.InfoUpdateAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InfoUpdateCom</servlet-name>
    <url-pattern>/InfoUpdateCom</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NoticeDelete</servlet-name>
    <servlet-class>notice.NoticeDeleteAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NoticeDelete</servlet-name>
    <url-pattern>/NoticeDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NoticeUpdate</servlet-name>
    <servlet-class>notice.NoticeUpdateAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NoticeUpdate</servlet-name>
    <url-pattern>/NoticeUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NoticeWrite</servlet-name>
    <servlet-class>notice.NoticeWriteAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NoticeWrite</servlet-name>
    <url-pattern>/NoticeWrite</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>RentAction</servlet-name>
    <servlet-class>rent.RentAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RentAction</servlet-name>
    <url-pattern>/RentAction</url-pattern>
  </servlet-mapping>
  
  <!-- 경계선 -->
  
  <servlet>
	<servlet-name>idCheck</servlet-name>
	<jsp-file>/idCheck.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>idCheck</servlet-name>
	<url-pattern>/idCheck</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>idCheckProc</servlet-name>
	<jsp-file>/idCheckProc.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>idCheckProc</servlet-name>
	<url-pattern>/idCheckProc</url-pattern>
  </servlet-mapping>  	
  
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>join</servlet-name>
    <jsp-file>/join.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>myPage</servlet-name>
    <jsp-file>/myPage.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myPage</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>delete</servlet-name>
    <jsp-file>/delete.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>infoUpdateFront</servlet-name>
    <jsp-file>/infoUpdateFront.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>infoUpdateFront</servlet-name>
    <url-pattern>/infoUpdateFront</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>infoUpdate</servlet-name>
    <jsp-file>/infoUpdate.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>infoUpdate</servlet-name>
    <url-pattern>/infoUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>notice</servlet-name>
    <jsp-file>/notice.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>notice</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>noticeRead</servlet-name>
    <jsp-file>/noticeRead.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>noticeRead</servlet-name>
    <url-pattern>/noticeRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>noticeWrite</servlet-name>
    <jsp-file>/noticeWrite.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>noticeWrite</servlet-name>
    <url-pattern>/noticeWrite</url-pattern>
  </servlet-mapping>
  
</web-app>